.usersNotes {
    display: flex;
    flex-direction:row;
    align-items: center;
    flex-wrap: wrap;
    padding: 10px;
}

.noteItem {
    background: url(https://cdn.pixabay.com/photo/2017/07/13/16/16/paper-2500942_960_720.jpg);
    background-size: contain;
    width: 300px;
    height: 200px;
    font-size: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    box-shadow: 0 0 5px rgba(38, 111, 196, 0.5);
    margin: 10px;
    span {
        font-weight: bold;
        font-size: 23px;
        color: #7D4CDB;
        @media screen and (max-width: 668px) {
            font-size: 15px;
            }
    }
  @media screen and (max-width: 668px) {
    width: 250px;
    height: 100px;
    font-size: 15px;
    }
}

.edit {
    display: flex;
    align-items: center;
    flex-direction: column;
    span {
        font-weight: bold;
        font-size: 20px;
        color: #0fc5fc;
    }
}
